/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #F6D8AE;
}

.calculator {
    background-color: #F6D8AE;
    border-radius: 15px;
    box-shadow: 0px 0px 13px rgba(59, 58, 58, 0.421);
    padding: 20px;
}

.calculator input {
    width: 92%;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 10px;
    border: 3px solid #000000; /* Darker border color */
    border-radius: 4px;
    color: #000; /* Text color */
    background-color: #FFF; /* Background color */
    text-align: right; /* Align text to the right */
}

.calculator button {
    width: 70px;
    height: 70px;
    font-size: 24px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #000000;
    color: white;
}

.calculator button:hover {
    background-color: #444;
}
